html,body{
	background-color: #fff;
	margin:	0 auto;
}
.container{
	position: relative;
	background-color: #fefefe;
	max-width: 1080px;
	margin: 0 auto;
}
.header{
	position: relative;
	width: 100%;
	background-color: #fff200;
	height: 80px
}
.logo-left{
	float: left;
	width: auto;
	height: 80px
}
.logo-right {
	position: relative;
	width:200px;
	float: right;	
}
img{
	width: 100%;
	height: auto;
}
.clear {
    clear: both;
}
.nav{
	position: relative;
	background-color: #1d1f20;
	width: 100%;
	float: left;
}
.nav ul{
	margin: 0 auto;
	padding: 0;
}
.nav li{
	float: right;
	list-style-type: none;
}
.nav a{
	padding: 10px 15px;
	color: #fff
}
.bg-red{
	background-color: red;
}
.bg-green{
	background-color: green;
}
.bg-blue{
	background-color: blue;
}